<%# ヘッダー部分%>
<header class='top-page-header'>
  <div class='mini-title'>おそうじ事典</div>
  <div class='lists-left'>
    <form class='search-form' action='#'> 
      <input class='input-box' placeholder='キーワードを入力'>
      <button class='search-button'>検索</button>
    </form>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <li class='log-in'>ログイン</li>
      <li class='sign-up'>新規登録</li>
    </ul>
  </div>
</header>
<%# ヘッダー部分%>
<div class='main'>
  <div class='main-contents'>
    <div class='article-box'>
      <h4>記事の内容</h4>
      シンクは、メラミンスポンジがオススメ！
    </div>
    <div class='comments'>
      <h4>質問・コメント</h4>
    </div>
  </div>
</div>
