<div class='main'>
  <div class='main-contents'>
    <div class='article-box'>
      <% @kitchens.each do |kitchen| %>
      <%= link_to kitchen_path(kitchen.id), class: "link",method: :get do %>
      <div class='article-title'>
        <%= kitchen.title %>
      </div>
      <div class='article-text'>
        <%= kitchen.text %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class='input-btn'>
    <span class='input-btn-text'>投稿する</span>
      <a href="/kitchens/new">
      <%= image_tag 'Orion_edit.png' , size: '60x60' ,class: "input-btn-icon" %>
    </a>
  </div>
</div>
