<div class='main'>
  <div class='main-contents'>
    <div class='article-box'>
      <div class='article-title'>
        <%= @bath.title %>
      </div>
      <div class='article-text'>
        <%= @bath.text %>
      </div>
    </div>
    <div class='comments'>
      <div class='comment-title'>質問・コメント</div>
    </div>
  </div>
</div>
